*{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: auto;
}
.avion img{
    z-index: 7;
    opacity: 0.3;
    width: 20%;
    position: absolute;
    top:0px;
}

nav{
    z-index: 8;
    height: 75px;
    width: 100%;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
}

/*Styling logo*/

.titre{
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 300px;
    color: #f2f5f7;
    position: relative;
    bottom: 15px;
    left: 15px;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #fff;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}



/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}


/* Acceuil */
#acceuil {
    position: relative;
    top:0px;
   }
#acceuil img{
    position: relative;

    height: 300px;
    width: 100%;
}
#acceuil .heading{
    position: absolute;
    top: 20px;
}
#acceuil .bouton{
    background-color:#0f8d2d;
    color: white;
    font-weight: bold;
}



/* Destinations */

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
}

/* Hide the images by default */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 50px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Circuits */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 25px;
    margin: auto;
}

.box-container .box {
    box-shadow: 1px 0.5px 1px black;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
}

.box-container .box img {
    height: 150px;
}

.box-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));
    gap: 15px;
    margin: 50px;
}

















/* Styling the two boxes*/
.two-boxes{
    position: relative;
    top: 75px;
    display: flex;
    gap:20px;
    background-color: #d2d7d7;
    padding: 20px;
    justify-content: center;
    width: 97%;
}


.section-boxes1{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.boxes1{
    display: flex;
    background-color: #fff;
    padding: 10px;
    justify-content: center;
    width: 50%;
}
.boxes1 h1{
    font-weight: bold;
}
.white-divider{
    background: #d2d7d7;
    width: 75%;
    height: 2px;
}
.boxes1 img{
    width: 60%;
    height: 170px;
}


.section-boxes2{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.boxes2{
    display: flex;
    background-color: #fff;
    padding: 10px;
    justify-content: center;
    width: 50%;
}
.boxes2 h1{
    font-weight: bold;
}
.boxes2 img{
    width: 60%;
    height: 150px;
    
}


/* Contact */
#contact{
    position: relative;
    top: 60px;
    
}
#contact h1{
    font-weight: 600;
}
#contact .white-divider{
    width:100%;
    position: relative;
    justify-content: center;
}
.formulaire{
    display: flex;
    justify-content: space-around;
}
.formulaire button{
    background-color: #61DAFB;
    width: 150px;
}



/*Footer*/
footer{
    background-color: #131418;
    position: relative;
    top: 60px;
    color: #fff;
    text-align: center;
}









/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: relative;
        z-index: 8;
    }
    .hamburger{
        display:block;
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 7%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-evenly;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
   
    li.fade{
        opacity: 1;
    }
    #acceuil .heading{
        position: absolute;
        top: -50px;
    }


    .two-boxes{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .boxes1{
        justify-content: center;
        width: 98%;
        height: 200px;
    }
    .boxes2{
        justify-content: center;
        width: 98%;
        height: 200px;
    }
    .two-boxes .white-divider{
        width: 90%;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  position: relative;
  top: 5px;
}
